@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Rubik:ital@0;1&display=swap');

html, body, #root{
  height: 100%;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-style: normal;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
}

.error-message {
  color: red;
  text-align: center;
  font-size: 24px;
}

.map-container {
  flex: 1;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  overflow: hidden;
  box-sizing: border-box;
}

.road-network {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 8px;
}

.road-network h3 {
  margin: 0 0 5px 0;
  font-size: 14px;
}

.road-network label {
  display: flex;
  font-size: 12px;
}

.map-style {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 8px;
}

.map-style h3{
  margin: 0 0 5px 0;
  font-size: 14px;
}

.map-style label {
  display: block;
  font-size: 12px;
}


/* Leaflet 팝업 내부 컨텐츠 스타일 */
.popup-content {
  font-size: 15px; /* 폰트 크기 키움 (약 2pt) */
  line-height: 1.6;
  margin: 0;
}

.popup-content div {
  margin-bottom: 5px; /* ID와 Type 간격 */
}

.popup-button {
  font-size: 15px; /* 텍스트와 동일한 폰트 크기 */
  padding: 5px 10px;
  margin-right: 8px;
  margin-top: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

.popup-button:hover {
  background-color: #eee;
}

/* react-leaflet 팝업의 기본 마진/패딩 제거 */
.leaflet-popup-content {
  margin: 10px !important; /* 팝업창 크기 조절 */
}

.leaflet-popup-content-wrapper {
  border-radius: 8px;
}